MONGO DB WITH PYTHON-QUERYING JSON DOCUMENTS

In [3]:
import pymongo
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [4]:
# to create database
mydb=client['Employeee']

In [5]:
# creating collection

empinfo=mydb.employeeinformation

In [6]:
record={
      'firstname':'chaitanya',
    'lstname':'Kumar',
    'branch': 'EcE', 
    'age':19,
    'qualification':'btech'
}

In [7]:
empinfo.insert_one(record)

InsertOneResult(ObjectId('68403d724e96a64eef81f8dd'), acknowledged=True)

In [8]:
records=[{
 'firstname':'chaitanya',
    'lstname':'Kumar',
    'branch': 'EcE', 
     'qualification':'btech',
    'age':19
},
         {
 'firstname':'umesh',
    'lstname':'chandra',
    'branch': 'EcE', 
    'age':16,
    'qualification':'masters'
},
          {
 'firstname':'john',
    'lstname':'abraham',
    'branch': 'EcE', 
    'age':16,
    'qualification':'phd'
              
},
          {
 'firstname':'jake',
    'lstname':'paul',
    'branch': 'EcE', 
    'age':16,
        'qualification':'masters'
},
          {
 'firstname':'slat',
    'lstname':'virat',
    'branch': 'EcE', 
    'age':16,
       'qualification':'phd'       
},
        
        ]

empinfo.insert_many(records)

InsertManyResult([ObjectId('68403d724e96a64eef81f8de'), ObjectId('68403d724e96a64eef81f8df'), ObjectId('68403d724e96a64eef81f8e0'), ObjectId('68403d724e96a64eef81f8e1'), ObjectId('68403d724e96a64eef81f8e2')], acknowledged=True)

In [9]:
## simple way of  quering
empinfo.find_one()

{'_id': ObjectId('68403d724e96a64eef81f8dd'),
 'firstname': 'chaitanya',
 'lstname': 'Kumar',
 'branch': 'EcE',
 'age': 19,
 'qualification': 'btech'}

In [10]:
## select * from employeeinformation
for record in empinfo.find():
     print(record)

{'_id': ObjectId('68403d724e96a64eef81f8dd'), 'firstname': 'chaitanya', 'lstname': 'Kumar', 'branch': 'EcE', 'age': 19, 'qualification': 'btech'}
{'_id': ObjectId('68403d724e96a64eef81f8de'), 'firstname': 'chaitanya', 'lstname': 'Kumar', 'branch': 'EcE', 'qualification': 'btech', 'age': 19}
{'_id': ObjectId('68403d724e96a64eef81f8df'), 'firstname': 'umesh', 'lstname': 'chandra', 'branch': 'EcE', 'age': 16, 'qualification': 'masters'}
{'_id': ObjectId('68403d724e96a64eef81f8e0'), 'firstname': 'john', 'lstname': 'abraham', 'branch': 'EcE', 'age': 16, 'qualification': 'phd'}
{'_id': ObjectId('68403d724e96a64eef81f8e1'), 'firstname': 'jake', 'lstname': 'paul', 'branch': 'EcE', 'age': 16, 'qualification': 'masters'}
{'_id': ObjectId('68403d724e96a64eef81f8e2'), 'firstname': 'slat', 'lstname': 'virat', 'branch': 'EcE', 'age': 16, 'qualification': 'phd'}

In [11]:
print(empinfo.count_documents({}))

6

In [12]:
for record in empinfo.find({'firstname':'umesh'}):
    print(record)

{'_id': ObjectId('68403d724e96a64eef81f8df'), 'firstname': 'umesh', 'lstname': 'chandra', 'branch': 'EcE', 'age': 16, 'qualification': 'masters'}

In [16]:
# And and Query opearators 
for record in empinfo.find({'qualification':'masters','age':{'$lt':16}}):
    print(record)

In [15]:
## query documents using query operators($in,$lt,$gt)

for record in empinfo.find({'qualification':{'$in':['masters','phd']}}):
    print(record)

{'_id': ObjectId('68403d724e96a64eef81f8df'), 'firstname': 'umesh', 'lstname': 'chandra', 'branch': 'EcE', 'age': 16, 'qualification': 'masters'}
{'_id': ObjectId('68403d724e96a64eef81f8e0'), 'firstname': 'john', 'lstname': 'abraham', 'branch': 'EcE', 'age': 16, 'qualification': 'phd'}
{'_id': ObjectId('68403d724e96a64eef81f8e1'), 'firstname': 'jake', 'lstname': 'paul', 'branch': 'EcE', 'age': 16, 'qualification': 'masters'}
{'_id': ObjectId('68403d724e96a64eef81f8e2'), 'firstname': 'slat', 'lstname': 'virat', 'branch': 'EcE', 'age': 16, 'qualification': 'phd'}

In [19]:
#And and query operators
for record in empinfo.find({'qualification':'btech','age':{'$gt':16}}):
    print(record)

{'_id': ObjectId('68403d724e96a64eef81f8dd'), 'firstname': 'chaitanya', 'lstname': 'Kumar', 'branch': 'EcE', 'age': 19, 'qualification': 'btech'}
{'_id': ObjectId('68403d724e96a64eef81f8de'), 'firstname': 'chaitanya', 'lstname': 'Kumar', 'branch': 'EcE', 'qualification': 'btech', 'age': 19}

In [20]:
#or operators
for record in empinfo.find({'$or':[{'firstname':'chaitanaya'},{'qualification':'phd'}]}):
    print(record)

{'_id': ObjectId('68403d724e96a64eef81f8e0'), 'firstname': 'john', 'lstname': 'abraham', 'branch': 'EcE', 'age': 16, 'qualification': 'phd'}
{'_id': ObjectId('68403d724e96a64eef81f8e2'), 'firstname': 'slat', 'lstname': 'virat', 'branch': 'EcE', 'age': 16, 'qualification': 'phd'}

In [21]:
# new collection 
inventory=mydb.inventory

In [22]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [23]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('684040be4e96a64eef81f8e3'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}