  MONGODB AGGREGATE AND GROUP

  1. AVG
  2. SUM
  3. PROJECT

In [6]:
from pymongo import MongoClient

# craetion of object MongoClient
client=MongoClient()

# Connect with the portnumber and host  
client=MongoClient('mongodb://127.0.0.1:27017')

# Access database  
mydatabase = client['Students']

# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"ck", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"ck",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"ck",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('68429225fcf7102d6cb2f4ad'), ObjectId('68429225fcf7102d6cb2f4ae'), ObjectId('68429225fcf7102d6cb2f4af'), ObjectId('68429225fcf7102d6cb2f4b0'), ObjectId('68429225fcf7102d6cb2f4b1'), ObjectId('68429225fcf7102d6cb2f4b2')], acknowledged=True)

In [22]:
### Find Amit And ck Total Subjects

agg_result=collection.aggregate(

    [{
        "$group":
        {"_id":"$user",
         "Total Subject":{"$sum":1}
        }}]
)

In [11]:
for i in agg_result:
    print(i)

{'_id': 'ck', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [23]:

### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'ck', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [26]:
### Calculating the average score based on user

agg_result=collection.aggregate(

    [{
        "$group":
        {"_id":"$user",
         "Avg score":{"$avg":"$score"}
        }}]
    
)

for i in agg_result:
    print(i)

{'_id': 'ck', 'Avg score': 83.33333333333333}
{'_id': 'Amit', 'Avg score': 78.33333333333333}

In [32]:
import datetime as datetime

In [31]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.now(datetime.UTC)},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.now(datetime.UTC) },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.now(datetime.UTC)},
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.now(datetime.UTC) },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.now(datetime.UTC) }]

In [29]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2025, 6, 6, 7, 35, 40, 9085)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2025, 6, 6, 7, 35, 40, 9085)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2025, 6, 6, 7, 35, 40, 9085)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2025, 6, 6, 7, 35, 40, 9085)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2025, 6, 6, 7, 35, 40, 9085)}]

In [37]:
mycollection=mydatabase['stores']
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [38]:
### Calculating the average quantity And Average Price

agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [39]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [42]:
collection=mydatabase['Books']

In [45]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [46]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}